.slots {
  border: 1px solid #333;
  color: #EDEDED;

  padding: 50px;
  border-radius: 10px;
  text-align: center;

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

    h3 {
      font-size: 20px;
    }

    h5 {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
    }

    p {
      color: #888;
      font-size: 15px;
      max-width: 600px;
      line-height: 25px;
    }

    .controll {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;

    .element {
      display: grid;
      background: linear-gradient(to right, #01010126, #231b2f33);
      gap: 10px;
      padding: 10px;
      color: #fff;
      text-align: left;

      p {
        color: #fff;
        span {
          color: #aeaaaa;
        }
      }
    }
  }

}

.indecator {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 100%;
}

@media (max-width: 872px) {
  .slots {
    padding: 0 10px;

    .info {
      padding: 10px 0px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
    }
  }
}