.welcome {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding: 50px 0;

    h1 {
        font-weight: 400;
        color: #fff;
        color: 24px;

        span {
            color: #A1A1A1;
        }
    }

    .gif {
        animation: rotate 90s linear infinite;

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    .controll {
        display: flex;
        gap: 20px;
    }
}

@media (max-width: 1028px) {
    .welcome {
        padding: 0;
        h1 {
            font-weight: 400;
            color: #fff;
            font-size: 17px;

            span {
                color: #A1A1A1;
            }
        }

        .controll {
            display: flex;
            flex-direction: column;
        }
    }
}