.login {
  display: flex;
  gap: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background: linear-gradient(to right, #01010126, #231b2f33);
  padding: 100px;
  flex-direction: column;
  color: #fff;
  margin: 0 auto;

  h1 {
    font-size: 24px;

    .gradientText {
      background: linear-gradient(to right, white, grey);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
    }

  }

  .controll {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    display: flex;
    gap: 10px;
    width: 100%;

    label {
      color: #888;
      font-size: 13px;
    }

    input {
      border: 1px solid #888;
      border-radius: 5px;
      height: 40px;
      width: 100%;
      color: #fff;
      padding: 5px 10px;
    }

    button {
      margin-top: 30px;
    }
  }
}