.column {
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 1fr));
    flex-wrap: wrap;
    gap: 40px;
    color: #fff;

    .item {
        min-width: 100px;
        border: 1px solid #333;
        padding: 20px;
        border-radius: 12px;
        background: linear-gradient(180deg, #000 30%, #0a0a0a 50%, #0a0a0a 100%);

        p {
            color: #a1a1a1;
            margin-bottom: 15px;
            font-size: 15px;
            font-weight: 400;
        }

        h3 {
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
        }
    }

}

@media (max-width: 1028px) {
    .column {
        display: flex;
        flex-direction: column;
        gap: 10px;

    }
}